<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Update a category</h1>
<p>
    <a href="/categories">Back to Category list</a>
</p>

<th:block th:if="${mess}">
    <p th:text="${mess}"></p>
</th:block>
<form th:action="@{/categories/edit}" th:object="${category}" method="post">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Category name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>