<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create a blog</h1>
<p>
    <a href="/blogs">Back to Blog list</a>
</p>

<th:block th:if="${mess}">
    <p th:text="${mess}"></p>
</th:block>
<form th:action="@{/blogs/save}" th:object="${blog}" method="post">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Blog name</td>
            <td><input type="text" th:field="*{name}"></td>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </tr>
        <tr>
            <td>Blog author</td>
            <td><input type="text" th:field="*{author}"></td>
        </tr>
        <tr>
            <td>Blog content</td>
            <td><textarea rows="9" cols="70"  th:field="*{content}"> </textarea></td>
            <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
        </tr>
        <input th:type="hidden" th:value="*{createdDate}">
        <tr>
            <td>Category</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="c:${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>