<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Update a blog</h1>
<p>
    <a href="/blogs">Back to Blog list</a>
</p>

<th:block th:if="${mess}">
    <p th:text="${mess}"></p>
</th:block>
<form th:action="@{/blogs/edit}" th:object="${blog}" method="post">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Blog name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Blog author</td>
            <td><input type="text" th:field="*{author}"></td>
        </tr>
        <tr>
            <td>Blog content</td>
            <td><input type="text" th:field="*{content}"></td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select name = "category">
                    <option th:each="c:${categories}" th:value="${c.id}" th:text="${c.name}"
                            th:selected="${c.id} == ${blog.category.id}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>